<form [formGroup]="registerForm">
  <h2>
    Informações pessoais
  </h2>
  <mat-form-field floatLabel="never">
    <mat-icon matPrefix>perm_identity</mat-icon>
    <input matInput formControlName="name" autocomplete="off" placeholder="Nome">
    <mat-error *ngIf="registerForm.get('name').errors && registerForm.get('name').touched">
      {{registerForm.get('name').errors.message}}</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="never">
    <mat-icon matPrefix>mail</mat-icon>
    <input type="email" matInput formControlName="email" autocomplete="off" placeholder="E-mail">
    <mat-error *ngIf="registerForm.get('email').errors && registerForm.get('email').touched">
      {{registerForm.get('email').errors.message}}</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="never">
    <mat-icon matPrefix>call</mat-icon>
    <input matInput phoneMask formControlName="phone_number" autocomplete="off" placeholder="Telefone/Celular">
    <mat-error *ngIf="registerForm.get('phone_number').errors && registerForm.get('phone_number').touched">
      {{registerForm.get('phone_number').errors.message}}</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="never">
    <mat-icon matPrefix>movie</mat-icon>
    <mat-select multiple formControlName="book_categories" autocomplete="off"
      placeholder="Formação profissional">
      <mat-option *ngFor="let category of booksCategories" [value]="category">{{category}}</mat-option>
    </mat-select>
    <mat-error
      *ngIf="registerForm.get('book_categories').errors && registerForm.get('book_categories').touched">
      {{registerForm.get('book_categories').errors.message}}</mat-error>
  </mat-form-field>

  <button mat-stroked-button [disabled]="registerForm.invalid" (click)="save()">Salvar</button>

</form>